* {
    
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: ghostwhite;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: skyblue;
}

.nav a {
    display: inline;
    width: 60px;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.nav a:hover{
    background-color: darkblue;
}

#rightbar {
    position: relative;
    display: block;
    margin-top: 10px;
}



#title {
    margin-top: -15px;
    margin: auto;
    margin-bottom: 2px;
    width: 50%;
    border: 1px black;
    background-color: gray;
    padding: 10px;
}

#title h2 {
    margin: auto;
    text-align: center;
}

#qn {
    margin: auto;
    height:auto;
    width: 50%;
    border: 1px solid green;
    background-color: aquamarine;
    padding: 10px;
}

#qn ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow:auto;
    background-color: gray;
}

.qn_t {
    float: left;
}

.qn_t a {
    display: inline;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.qn_t a:hover {
    
    background-color: #111111;
}



