* {
    
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(219, 239, 247);
}

#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: left;
    margin-top: 2px;
    /* overflow: hidden; */
    background-color: skyblue;
    top: 0;
    z-index: 1000;
}


.nav a {
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
    /* overflow: auto; */
}



.nav a:hover{
    background-color: blue}

@media (max-width: 768px) { /* Example: hide div if viewport width is less than 768px */
  #add_q {
    display: none; /* Hides the div completely */
  }
}

#info {
    position: fixed;
    top: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    font-family: cursive;
    font-size:larger;
    overflow: auto;
    padding: 15px;
    text-decoration: none;
    color: rgb(2, 100, 28);
    z-index: 1001;
}

#content {
    margin-top: 70px;
}


#title {
    margin: auto;
    
    margin-bottom: 2px;
    border-radius: 2px;
    width: 65%;
    border: 1px black;
    background-color: gray;
    padding: 10px;
}

#title h1 {
    font-family: 'Times New Roman';
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}



#qn {
    margin: auto;
    margin-bottom: 2px;
    height:auto;
    width: 65%;
    border: 1px solid green;
    border-radius: 2px;
    background-color: aquamarine;
    padding: 10px;
}

#qn ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow:auto;
    background-color: gray;
}

.qn_t {
    float: left;
}

.qn_t a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

.qn_t a:hover {
    
    background-color: #111111;
}

.meta a {
    padding: 2px;
}



