{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}Poll{% endblock %}</title>
</head>

<body>

    <div id="sidebar">
        {% block sidebar %}
        <ul>
        <li class="nav"> <a href="/polls">Home</a> </li>
        <li style="float: right;" class="nav"> <a href="/logout">Logout</a> </li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>