{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}Poll{% endblock %}</title>
</head>

<body>
        
    <div id="navbar">
        
        
        <div class="nav"> <a href="/polls">Home</a> </div>
        
        {% block navbar %}
        {% endblock %}
        <div style="margin-left: auto;" class="nav"> <a href="/logout">Logout</a> </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>