{% extends "./base.html" %}


{% block title %}Poll{% endblock %}

{% block navbar %}
        
        
        <div class="nav" id="add_q"> <a href="{% url 'polls:add' %}">Add Question</a></div>
        
        
{% endblock %}


{% block content %}
<div id="info">Click a question to vote</div>


<div id="title">
    <h1>Question List</h1>
</div>

{% for q in question_list %}

    <div id="qn">
        <ul>
            <li class="qn_t">
                <a  href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a>
            </li>
                
        </ul>
        <p>{{ q.pub_date }}</p>
        <div class="meta" >
            <a  href="{% url 'polls:edit_page' q.id %}">Edit question</a>
            <a style="float: right;" href="{% url 'polls:edit' q.id %}">Delete question</a>
        </div>
        
    </div>

{% endfor %}


{% endblock %}