{% extends "./base.html" %}


{% block title %}Poll{% endblock %}

{% block content %}

<div id="rightbar">
    <a href="{% url 'polls:add' %}">Add Question</a><br>
    
</div>

<div id="title">
    <h2>Question List</h2>
</div>

{% for q in question_list %}

    <div id="qn">
        <ul>
            <li class="qn_t">
                <a  href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a>
            </li>
                
        </ul>
        <p>{{ q.pub_date }}</p>
        <a href="{% url 'polls:edit_page' q.id %}">Edit question</a>
    </div>

{% endfor %}


{% endblock %}